dist/elements.html
<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta content='yes' name='apple-mobile-web-app-capable'>
  <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
  <title>Timbet</title>
  <link href='assets/ico/fav/favicon-16x16.png' rel='icon' sizes='16x16' type='image/png'>
  <link href='assets/ico/fav/favicon-32x32.png' rel='icon' sizes='32x32' type='image/png'>
  <link href='assets/ico/fav/favicon-96x96.png' rel='icon' sizes='96x96' type='image/png'>
  <link href='assets/ico/ati/ati-57x57.png' rel='apple-touch-icon' sizes='57x57'>
  <link href='assets/ico/ati/ati-60x60.png' rel='apple-touch-icon' sizes='60x60'>
  <link href='assets/ico/ati/ati-72x72.png' rel='apple-touch-icon' sizes='72x72'>
  <link href='assets/ico/ati/ati-76x76.png' rel='apple-touch-icon' sizes='76x76'>
  <link href='assets/ico/ati/ati-114x114.png' rel='apple-touch-icon' sizes='114x114'>
  <link href='assets/ico/ati/ati-120x120.png' rel='apple-touch-icon' sizes='120x120'>
  <link href='assets/ico/ati/ati-144x144.png' rel='apple-touch-icon' sizes='144x144'>
  <link href='assets/ico/ati/ati-152x152.png' rel='apple-touch-icon' sizes='152x152'>
  <link href='assets/css/app.min.css' rel='stylesheet' type='text/css'>
  <script src='assets/js/libs.min.js' type='text/javascript'></script>
  <script src='assets/js/app.min.js' type='text/javascript'></script>
</head>

<body>
  <header class='header'>
    <div class='wrapper header__wrap'>
      <a class='logo' href=''>
        <img alt='logo' class='logo__img' src='assets/img/logo.svg'>
      </a>
      <div class='socialIcons'>
        <a class='socialIcons__icon' href=''>
          <i class='icon-instagram-28x28 icon-instagram-28x28-size'></i>
        </a>
        <a class='socialIcons__icon' href=''>
          <i class='icon-vk-28x28 icon-vk-28x28-size'></i>
        </a>
        <a class='socialIcons__icon' href=''>
          <i class='icon-telegram-28x28 icon-telegram-28x28-size'></i>
        </a>
      </div>
    </div>
  </header>
  <div class='navigation'>
    <div class='wrapper'>
      <nav class='nav'>
        <a class='navItem active nav__item' href=''>
          <i class='icn-free navItem__icon'></i>
          Бесплатные
        </a>
        <a class='navItem nav__item' href=''>
          <i class='icn-paid navItem__icon'></i>
          Платные
        </a>
        <a class='navItem nav__item' href=''>
          <i class='icn-info navItem__icon'></i>
          Информация
        </a>
        <a class='navItem nav__item' href=''>
          <i class='icn-user navItem__icon'></i>
          Регистрация
        </a>
      </nav>
    </div>
  </div>
  <div class='wrap'>
    <div class='wrapper'>
      <br>
      <h1>Tags Style</h1>
      <br>
      <h1>H1 - Roboto - 36px Lorem ipsum dolor sit amet</h1>
      <br>
      <h2>H2 - Roboto - 14px Lorem ipsum dolor sit amet</h2>
      <br>
      <h3>H3 - Roboto - 14px Lorem ipsum dolor sit amet</h3>
      <br>
      <h4>H4 - Roboto - 14px Lorem ipsum dolor sit amet</h4>
      <br>
      <h5>H5 - Roboto - 12px Lorem ipsum dolor sit amet</h5>
      <br>
      <h6>H6 - Roboto - 12px Lorem ipsum dolor sit amet</h6>
      <br>
      <p>p - Roboto - 14px Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium deleniti, accusamus nihil nulla perferendis, quisquam dicta voluptates ea deserunt dolore voluptate quam? Aspernatur in, obcaecati! Officia libero molestias, vitae facere.</p>
      <br>
      <strong>strong - Roboto - 14px Lorem ipsum dolor sit amet</strong>
      <br>
      <br>
      <em>em - Roboto - 14px Lorem ipsum dolor sit amet</em>
      <br>
      <br>
      <a href=''>a - Roboto - 14px Lorem ipsum dolor sit amet</a>
      <br>
      <br>
      <br>
      <table cellspacing='0'>
        <caption>Table Caption</caption>
        <thead>
          <tr>
            <th>Table th</th>
            <th>Table th</th>
            <th>
              <strong>Table th</strong>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Completed</td>
            <td>2</td>
            <td>
              <strong>$89.95</strong>
            </td>
          </tr>
          <tr>
            <td>Completed</td>
            <td>2</td>
            <td>
              <strong>$89.95</strong>
            </td>
          </tr>
          <tr>
            <td>Completed</td>
            <td>2</td>
            <td>
              <strong>$89.95</strong>
            </td>
          </tr>
          <tr>
            <td>Completed</td>
            <td>2</td>
            <td>
              <strong>$89.95</strong>
            </td>
          </tr>
          <tr>
            <td>Completed</td>
            <td>2</td>
            <td>
              <strong>$89.95</strong>
            </td>
          </tr>
        </tbody>
      </table>
      <br>
      <br>
      <ul>
        <li>ul - Arial - 14px Lorem ipsum dolor sit amet</li>
        <li>ul - Arial - 14px Lorem ipsum dolor sit amet</li>
      </ul>
      <br>
      <ol>
        <li>ol - Arial - 14px Lorem ipsum dolor sit amet</li>
        <li>ol - Arial - 14px Lorem ipsum dolor sit amet</li>
      </ol>
      <br>
      <br>
      <br>
      <hr>
      <br>
      <br>
      <br>
      <h1>Icons</h1>
      <br>
      <div style='font-size: 20px'>
        <i class='icn-angle-down'></i>
        <i class='icn-angle-left'></i>
        <i class='icn-angle-right'></i>
        <i class='icn-angle-up'></i>
        <i class='icn-checkbox'></i>
        <i class='icn-radio'></i>
        <i class='icn-close'></i>
        <i class='icn-free'></i>
        <i class='icn-info'></i>
        <i class='icn-paid'></i>
        <i class='icn-aim'></i>
        <i class='icn-plus'></i>
        <i class='icn-minus'></i>
        <i class='icn-dummy'></i>
        <i class='icn-user'></i>
      </div>
      <br>
      <div>
        <i class='icon-instagram-28x28 icon-instagram-28x28-size'></i>
        <i class='icon-telegram-28x28 icon-telegram-28x28-size'></i>
        <i class='icon-vk-28x28 icon-vk-28x28-size'></i>
        <i class='icon-instagram-24x24 icon-instagram-24x24-size'></i>
        <i class='icon-telegram-24x24 icon-telegram-24x24-size'></i>
        <i class='icon-vk-24x24 icon-vk-24x24-size'></i>
        <i class='icon-whatsApp-24x24 icon-whatsApp-24x24-size'></i>
      </div>
      <br>
      <br>
      <br>
      <hr>
      <br>
      <br>
      <br>
      <h1>Form elements</h1>
      <br>
      <div class='elements'>
        <div class='col-12'>
          <div class='field-case'>
            <label class='field-name'>Field name</label>
            <input class='field' name='' placeholder='Field' type='text'>
          </div>
          <div class='field-case'>
            <label class='field-name'>Field name</label>
            <input class='field error' name='' placeholder='Field wrong' type='text' value='Field wrong'>
            <label class='error'>Wrong text</label>
          </div>
          <div class='field-case'>
            <label class='field-name'>Field name</label>
            <input class='field' disabled='disabled' name='' placeholder='Field disabled' type='text'>
          </div>
          <div class='field-case'>
            <label class='field-name'>Field name</label>
            <div class='file-case'>
              <a class='btns btns-primary'>Attach file</a>
              <input accept='image/jpeg, application/msword, application/pdf' enctype='multipart/form-data' multiple='' name='' type='file'>
              <div class='field'>
                Attach files (doc, pdf less 2 mb)
              </div>
            </div>
          </div>
        </div>
        <div class='col-12'>
          <div class='field-case'>
            <label class='field-name'>Field name</label>
            <select class='field' name=''>
              <option value=''>Select field</option>
              <option value=''>Select item 1</option>
              <option value=''>Select item 2</option>
              <option value=''>Select item 3</option>
              <option value=''>Select item 4</option>
              <option value=''>Select item 5</option>
            </select>
            <i class='icn-angle-down'></i>
          </div>
          <div class='field-case'>
            <label class='field-name'>Field name</label>
            <select class='field error' name=''>
              <option value=''>Select field wrong</option>
              <option value=''>Select item 1</option>
              <option value=''>Select item 2</option>
              <option value=''>Select item 3</option>
              <option value=''>Select item 4</option>
              <option value=''>Select item 5</option>
            </select>
            <label class='error'>Wrong text</label>
            <i class='icn-angle-down'></i>
          </div>
          <div class='field-case'>
            <label class='field-name'>Field name</label>
            <select class='field' disabled='disabled' name=''>
              <option value=''>Select field disabled</option>
              <option value=''>Select item 1</option>
              <option value=''>Select item 2</option>
              <option value=''>Select item 3</option>
              <option value=''>Select item 4</option>
              <option value=''>Select item 5</option>
            </select>
            <i class='icn-angle-down'></i>
          </div>
        </div>
        <div class='col-12'>
          <div class='field-case'>
            <label class='field-name'>Textarea</label>
            <textarea class='field' name='' placeholder='Textarea'></textarea>
          </div>
        </div>
        <div class='col-12'>
          <div class='field-case'>
            <label class='field-name'>Field name</label>
            <label class='check-case'>
              <input name='' type='checkbox'>
              <span class='field-checkbox'>
                <i class='icn-checkbox'></i>
              </span>
              <span class='check-name'>
                checkbox default
                <a href='#'>Accept all terms of service</a>
              </span>
            </label>
          </div>
          <div class='field-case'>
            <label class='field-name'>Field name</label>
            <label class='check-case'>
              <input class='error' name='' type='checkbox'>
              <label class='error'>Wrong text</label>
              <span class='field-checkbox'>
                <i class='icn-checkbox'></i>
              </span>
              <span class='check-name'>checkbox wrong</span>
            </label>
          </div>
          <div class='field-case'>
            <label class='field-name'>Field name</label>
            <label class='check-case'>
              <input disabled='disabled' name='' type='checkbox'>
              <span class='field-checkbox'>
                <i class='icn-checkbox'></i>
              </span>
              <span class='check-name'>checkbox disabled</span>
            </label>
          </div>
          <div class='field-case'>
            <label class='field-name'>Field name</label>
            <label class='check-case'>
              <input checked='checked' disabled='disabled' name='' type='checkbox'>
              <span class='field-checkbox'>
                <i class='icn-checkbox'></i>
              </span>
              <span class='check-name'>checkbox disabled checked</span>
            </label>
          </div>
        </div>
        <div class='col-12'>
          <div class='field-case'>
            <label class='field-name'>Field name</label>
            <label class='check-case'>
              <input name='test' type='radio'>
              <span class='field-radio'>
                <i class='icn-radio'></i>
              </span>
              <span class='check-name'>radio default</span>
            </label>
          </div>
          <div class='field-case'>
            <label class='field-name'>Field name</label>
            <label class='check-case'>
              <input class='error' name='' type='radio'>
              <label class='error'>Wrong text</label>
              <span class='field-radio'>
                <i class='icn-radio'></i>
              </span>
              <span class='check-name'>radio default</span>
            </label>
          </div>
          <div class='field-case'>
            <label class='field-name'>Field name</label>
            <label class='check-case'>
              <input disabled='disabled' name='' type='radio'>
              <span class='field-radio'>
                <i class='icn-radio'></i>
              </span>
              <span class='check-name'>radio disabled</span>
            </label>
          </div>
          <div class='field-case'>
            <label class='field-name'>Field name</label>
            <label class='check-case'>
              <input checked='checked' disabled='disabled' name='' type='radio'>
              <span class='field-radio'>
                <i class='icn-radio'></i>
              </span>
              <div class='check-name'>radio disabled checked</div>
            </label>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <hr>
      <br>
      <br>
      <br>
      <h1>Buttons</h1>
      <br>
      <button class='btns btns-primary'>Button Priamary</button>
      &nbsp;
      <button class='btns btns-info'>Button Info</button>
      &nbsp;
      <br>
      <br>
      <button class='btns btns-primary disabled'>Button Disabled</button>
      <br>
      <br>
      <br>
      <hr>
      <br>
      <br>
      <br>
      <h1>Nav Item</h1>
      <br>
      <a class='navItem active' href=''>
        <i class='icn-free navItem__icon'></i>
        Бесплатные
      </a>
      &nbsp;
      &nbsp;
      <a class='navItem' href=''>
        <i class='icn-free navItem__icon'></i>
        Бесплатные
      </a>
      <br>
      <br>
      <br>
      <hr>
      <br>
      <br>
      <br>
      <h1>Social Network</h1>
      <br>
      <div class='socialIcons socialIcons-sm'>
        <a class='socialIcons__icon' href=''>
          <i class='icon-whatsApp-24x24 icon-whatsApp-24x24-size'></i>
        </a>
        <a class='socialIcons__icon' href=''>
          <i class='icon-instagram-24x24 icon-instagram-24x24-size'></i>
        </a>
        <a class='socialIcons__icon' href=''>
          <i class='icon-vk-24x24 icon-vk-24x24-size'></i>
        </a>
        <a class='socialIcons__icon' href=''>
          <i class='icon-telegram-24x24 icon-telegram-24x24-size'></i>
        </a>
      </div>
      <br>
      <br>
      <br>
      <hr>
      <br>
      <br>
      <br>
      <h1>Pay Methods</h1>
      <br>
      <div class='payMethods'>
        <a class='payMethods__icon' href=''>
          <img alt='' src='assets/img/pay-img1.png'>
        </a>
        <a class='payMethods__icon' href=''>
          <img alt='' src='assets/img/pay-img2.png'>
        </a>
        <a class='payMethods__icon' href=''>
          <img alt='' src='assets/img/pay-img3.png'>
        </a>
        <a class='payMethods__icon' href=''>
          <img alt='' src='assets/img/pay-img4.png'>
        </a>
        <a class='payMethods__icon' href=''>
          <img alt='' src='assets/img/pay-img5.png'>
        </a>
      </div>
      <br>
      <br>
      <br>
      <hr>
      <br>
      <br>
      <br>
      <h1>Plus</h1>
      <br>
      <div class='plus'>
        <i class='plus__plus icn-plus'></i>
        <i class='plus__minus icn-minus'></i>
      </div>
      <br>
      <br>
      <br>
      <hr>
      <br>
      <br>
      <br>
      <h1>Expand Item</h1>
      <br>
      <div class='expandItem expandItem-radius'>
        <input class='expandItem__btn' name='profile' type='checkbox'>
        <div class='expandHead expandHead-upper expandItem__head'>
          <div class='expandHead__plus plus'>
            <i class='plus__plus icn-plus'></i>
            <i class='plus__minus icn-minus'></i>
          </div>
          <div class='expandHead__text'>Футбол</div>
        </div>
        <div class='expandItem__body'>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed temporibus aspernatur fugit a, velit ad fuga modi, quisquam beatae eveniet quos porro praesentium consequatur totam incidunt itaque et earum inventore?
        </div>
      </div>
      <br>
      <br>
      <br>
      <hr>
      <br>
      <br>
      <br>
      <h1>Rate</h1>
      <br>
      <div class='rate rate-default'>1.52</div>
      &nbsp;
      <div class='rate rate-success'>1.52</div>
      &nbsp;
      <div class='rate rate-danger'>1.52</div>
      &nbsp;
      <div class='rate rate-done'>1.52</div>
      &nbsp;
      <br>
      <br>
      <div class='rate rate-vip'>
        <span>VIP</span>
      </div>
      &nbsp;
      <br>
      <br>
      <br>
      <hr>
      <br>
      <br>
      <br>
      <h1>Rate Result</h1>
      <br>
      <div class='rateResult rateResult-default'>
        <i class='icn-aim rateResult__icon'></i>
        <div class='rateResult__info'>
          Прогноз: Хозяин
          <div class='rateResult__rate'>Коэф. 1.52</div>
        </div>
      </div>
      <br>
      <div class='rateResult rateResult-danger'>
        <i class='icn-aim rateResult__icon'></i>
        <div class='rateResult__info'>
          Прогноз: Хозяин
          <div class='rateResult__rate'>Прогноз не прошел, коэф. 1.52</div>
        </div>
      </div>
      <br>
      <div class='rateResult rateResult-success'>
        <i class='icn-aim rateResult__icon'></i>
        <div class='rateResult__info'>
          Прогноз: Хозяин
          <div class='rateResult__rate'>Прогноз прошел, коэф. 1.52</div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <hr>
      <br>
      <br>
      <br>
      <h1>Versus</h1>
      <br>
      <div class='versus'>
        <div class='versusImg' style='background-image: url(&#39;assets/pictures/vs-bg.png&#39;)'>
          <div class='versusImg__team'>
            <img alt='' src='assets/pictures/vs-team1.png'>
          </div>
          <div class='versusImg__vs'>VS</div>
          <div class='versusImg__team'>
            <img alt='' src='assets/pictures/vs-team2.png'>
          </div>
        </div>
        <div class='versusLabel'>
          <div class='versusLabel__teams'>
            Крузейро - Бока Х
          </div>
          <div class='versusLabel__date'>
            Начало: 08.10 в 00:00
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <hr>
      <br>
      <br>
      <br>
      <h1>Paid Forecasts</h1>
      <br>
      <div style='background: #000; padding: 10px'>
        <div class='paidForecasts'>
          <div class='h1'>Експресс</div>
          <table>
            <thead>
              <tr>
                <th>1 прогноз</th>
                <th>5 прогнозов</th>
                <th>10 прогнозов</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <strong>2 999 ₽</strong>
                </td>
                <td>
                  <strong>9 999 ₽</strong>
                </td>
                <td>
                  <div class='profitable'>
                    <span>ВЫГОДНО</span>
                  </div>
                  <strong>19 999 ₽</strong>
                </td>
              </tr>
            </tbody>
          </table>
          <a class='btns btns-primary btns-block' href=''>Купить подписку</a>
        </div>
      </div>
      <br>
      <br>
      <br>
      <hr>
      <br>
      <br>
      <br>
    </div>
  </div>
  <div :style='{opacity:1}' class='modalCupon' id='timeoutModal' v-if='show'>
    <div class='modalCupon__body'>
      <a @click='hideModal()' class='modalCupon__close'>
        <i class='icn-close'></i>
      </a>
      <div class='modalCupon__title ext'>Экспресс с кеф 5 на хоккей!</div>
      <p>
        Вчера прошел экспресс с кэфом 5 на хоккей.
      </p>
      <p>
        Сегодня наши эксперты уже приготовили для Вас надежный и точный экспресс с кеф 5 также на хоккей!
      </p>
      <p>
        Оформляйте его прямо сейчас и получайте на свой e-mail. Будем выигрывать крупно!
      </p>
      <a class='btns btns-primary btns-block' href=''>Хочу экспресс!</a>
    </div>
  </div>
  <footer class='footer'>
    <div class='wrapper'>
      <div class='payMethods footer__payMethods'>
        <span class='payMethods__icon'>
          <i class='icon-webmoney icon-webmoney-size'></i>
        </span>
        <span class='payMethods__icon'>
          <i class='icon-visa icon-visa-size'></i>
        </span>
        <span class='payMethods__icon'>
          <i class='icon-master icon-master-size'></i>
        </span>
        <span class='payMethods__icon'>
          <i class='icon-maestro icon-maestro-size'></i>
        </span>
        <span class='payMethods__icon'>
          <i class='icon-yandex icon-yandex-size'></i>
        </span>
        <span class='payMethods__icon'>
          <i class='icon-qiwi icon-qiwi-size'></i>
        </span>
      </div>
      <div class='footer__midBlock'>
        <!-- .socialIcons.socialIcons-sm -->
        <!-- %a.socialIcons__icon{:href => ""} -->
        <!-- %i.icon-whatsApp-24x24.icon-whatsApp-24x24-size -->
        <a class='logo logo-sm' href=''>
          <img alt='logo' class='logo__img' src='assets/img/logo.svg'>
        </a>
        <div class='socialIcons socialIcons-sm'>
          <a class='socialIcons__icon' href=''>
            <i class='icon-vk-24x24 icon-vk-24x24-size'></i>
          </a>
          <a class='socialIcons__icon' href=''>
            <i class='icon-instagram-24x24 icon-instagram-24x24-size'></i>
          </a>
          <a class='socialIcons__icon' href=''>
            <i class='icon-telegram-24x24 icon-telegram-24x24-size'></i>
          </a>
        </div>
      </div>
      <ul class='footer__menu'>
        <li>
          <a href=''>Личный кабинет</a>
        </li>
        <li>
          <a href=''>Регистрация</a>
        </li>
        <li>
          <a href=''>Контакты</a>
        </li>
        <li>
          <a href=''>О нас</a>
        </li>
        <li>
          <a href=''>Оферта</a>
        </li>
        <li>
          <a href=''>Политика конфиденциальности</a>
        </li>
      </ul>
      <!-- %a.footer__link{:href => ""} Полная версия сайта -->
    </div>
  </footer>
</body>

</html>

src/elements.haml
!!!5
%html
    //=include components/_head.haml
    %body
        //=include components/_header.haml
        //=include components/_nav.haml
        .wrap
            .wrapper
                %br/
                %h1 Tags Style
                %br/
                %h1 H1 - Roboto - 36px Lorem ipsum dolor sit amet
                %br/
                %h2 H2 - Roboto - 14px Lorem ipsum dolor sit amet
                %br/
                %h3 H3 - Roboto - 14px Lorem ipsum dolor sit amet
                %br/
                %h4 H4 - Roboto - 14px Lorem ipsum dolor sit amet
                %br/
                %h5 H5 - Roboto - 12px Lorem ipsum dolor sit amet
                %br/
                %h6 H6 - Roboto - 12px Lorem ipsum dolor sit amet
                %br/
                %p p - Roboto - 14px  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium deleniti, accusamus nihil nulla perferendis, quisquam dicta voluptates ea deserunt dolore voluptate quam? Aspernatur in, obcaecati! Officia libero molestias, vitae facere.
                %br/
                %strong strong - Roboto - 14px Lorem ipsum dolor sit amet
                %br/
                %br/
                %em em - Roboto - 14px Lorem ipsum dolor sit amet
                %br/
                %br/
                %a{:href => ""} a - Roboto - 14px Lorem ipsum dolor sit amet
                %br/
                %br/
                %br/
                %table{:cellspacing => "0"}
                    %caption Table Caption
                    %thead
                        %tr
                            %th Table th
                            %th Table th
                            %th 
                                %strong Table th
                    %tbody
                        - (1..5).each do |i|
                            %tr
                                %td Completed
                                %td 2
                                %td 
                                    %strong $89.95
                %br/
                %br/
                %ul
                    %li ul - Arial - 14px Lorem ipsum dolor sit amet
                    %li ul - Arial - 14px Lorem ipsum dolor sit amet
                %br/
                %ol
                    %li ol - Arial - 14px Lorem ipsum dolor sit amet
                    %li ol - Arial - 14px Lorem ipsum dolor sit amet
                %br/
                %br/
                %br/
                %hr/
                %br/
                %br/
                %br/
                %h1 Icons
                %br/
                %div{:style => "font-size: 20px"}
                    %i.icn-angle-down
                    %i.icn-angle-left
                    %i.icn-angle-right
                    %i.icn-angle-up
                    %i.icn-checkbox
                    %i.icn-radio
                    %i.icn-close
                    %i.icn-free
                    %i.icn-info
                    %i.icn-paid
                    %i.icn-aim
                    %i.icn-plus
                    %i.icn-minus
                    %i.icn-dummy
                    %i.icn-user
                    
                %br/
                %div
                    %i.icon-instagram-28x28.icon-instagram-28x28-size
                    %i.icon-telegram-28x28.icon-telegram-28x28-size
                    %i.icon-vk-28x28.icon-vk-28x28-size
                    
                    %i.icon-instagram-24x24.icon-instagram-24x24-size
                    %i.icon-telegram-24x24.icon-telegram-24x24-size
                    %i.icon-vk-24x24.icon-vk-24x24-size
                    %i.icon-whatsApp-24x24.icon-whatsApp-24x24-size
                    
                %br/
                %br/
                %br/
                %hr/
                %br/
                %br/
                %br/
                %h1 Form elements
                %br/
                .elements
                    .col-12
                        .field-case
                            %label.field-name Field name
                            %input.field{:type => "text", :placeholder => "Field", :name => ""}/
                        
                        .field-case
                            %label.field-name Field name
                            %input.field.error{:type => "text", :placeholder => "Field wrong", :value => "Field wrong", :name => ""}/
                            %label.error Wrong text

                        .field-case
                            %label.field-name Field name
                            %input.field{:type => "text", :placeholder => "Field disabled", :disabled => "disabled", :name => ""}/
                        .field-case
                            %label.field-name  Field name
                            .file-case
                                %a.btns.btns-primary Attach file
                                %input{:type => "file", :multiple => "", :accept => "image/jpeg, application/msword, application/pdf", :enctype => "multipart/form-data", :name => ""}/  
                                .field 
                                    Attach files (doc, pdf less 2 mb) 
                    .col-12
                        .field-case
                            %label.field-name Field name
                            %select.field{:name => ""}
                                %option{:value => ""} Select field
                                - (1..5).each do |i|
                                    %option{:value => ""} Select item #{i}
                            %i.icn-angle-down
                        .field-case
                            %label.field-name Field name
                            %select.field.error{:name => ""}
                                %option{:value => ""} Select field wrong
                                - (1..5).each do |i|
                                    %option{:value => ""} Select item #{i}
                            %label.error Wrong text
                            %i.icn-angle-down
                        .field-case
                            %label.field-name Field name
                            %select.field{:name => "", :disabled => "disabled"}
                                %option{:value => ""} Select field disabled
                                - (1..5).each do |i|
                                    %option{:value => ""} Select item #{i}
                            %i.icn-angle-down
                    .col-12
                        .field-case
                            %label.field-name Textarea
                            %textarea.field{:name => "", :placeholder => "Textarea"}
                    .col-12
                        .field-case
                            %label.field-name Field name
                            %label.check-case
                                %input{:type => "checkbox", :name => ""}/
                                %span.field-checkbox
                                    %i.icn-checkbox
                                %span.check-name 
                                    checkbox default 
                                    %a{:href => "#"}  Accept all terms of service
                        .field-case
                            %label.field-name Field name
                            %label.check-case
                                %input.error{:type => "checkbox", :name => ""}/
                                %label.error Wrong text
                                %span.field-checkbox
                                    %i.icn-checkbox
                                %span.check-name checkbox wrong
                    
                        .field-case
                            %label.field-name Field name
                            %label.check-case
                                %input{:type => "checkbox", :disabled => "disabled", :name => ""}/
                                %span.field-checkbox
                                    %i.icn-checkbox
                                %span.check-name checkbox disabled
                    
                        .field-case
                            %label.field-name Field name
                            %label.check-case
                                %input{:type => "checkbox", :disabled => "disabled", :checked => "checked", :name => ""}/
                                %span.field-checkbox
                                    %i.icn-checkbox
                                %span.check-name checkbox disabled checked  
                    .col-12
                        .field-case
                            %label.field-name Field name
                            %label.check-case
                                %input{:type => "radio", :name => "test"}/
                                %span.field-radio
                                    %i.icn-radio
                                %span.check-name radio default
                        .field-case
                            %label.field-name Field name
                            %label.check-case
                                %input.error{:type => "radio", :name => ""}/
                                %label.error Wrong text
                                %span.field-radio
                                    %i.icn-radio
                                %span.check-name radio default
                    
                        .field-case
                            %label.field-name Field name
                            %label.check-case
                                %input{:type => "radio", :disabled => "disabled", :name => ""}/
                                %span.field-radio
                                    %i.icn-radio
                                %span.check-name radio disabled
                    
                        .field-case
                            %label.field-name Field name
                            %label.check-case
                                %input{:type => "radio", :disabled => "disabled", :checked => "checked", :name => ""}/
                                %span.field-radio
                                    %i.icn-radio
                                .check-name radio disabled checked 
                %br/
                %br/
                %br/
                %hr/
                %br/
                %br/
                %br/
                %h1 Buttons
                %br/
                %button.btns.btns-primary Button Priamary 
                &nbsp;
                %button.btns.btns-info Button Info 
                &nbsp;
                %br/
                %br/
                %button.btns.btns-primary.disabled Button Disabled 
                %br/
                %br/
                %br/
                %hr/
                %br/
                %br/
                %br/
                %h1 Nav Item
                %br/
                %a.navItem.active{:href => ""}
                    %i.icn-free.navItem__icon
                    Бесплатные
                &nbsp;
                &nbsp;
                %a.navItem{:href => ""}
                    %i.icn-free.navItem__icon
                    Бесплатные
                %br/
                %br/
                %br/
                %hr/
                %br/
                %br/
                %br/
                %h1 Social Network
                %br/
                .socialIcons.socialIcons-sm
                    %a.socialIcons__icon{:href => ""}
                        %i.icon-whatsApp-24x24.icon-whatsApp-24x24-size 
                    %a.socialIcons__icon{:href => ""}
                        %i.icon-instagram-24x24.icon-instagram-24x24-size 
                    %a.socialIcons__icon{:href => ""}
                        %i.icon-vk-24x24.icon-vk-24x24-size 
                    %a.socialIcons__icon{:href => ""}
                        %i.icon-telegram-24x24.icon-telegram-24x24-size 
                %br/
                %br/
                %br/
                %hr/
                %br/
                %br/
                %br/
                %h1 Pay Methods
                %br/
                .payMethods
                    %a.payMethods__icon{:href => ""}
                        %img{:src => "assets/img/pay-img1.png", :alt => ""}/
                    %a.payMethods__icon{:href => ""}
                        %img{:src => "assets/img/pay-img2.png", :alt => ""}/
                    %a.payMethods__icon{:href => ""}
                        %img{:src => "assets/img/pay-img3.png", :alt => ""}/
                    %a.payMethods__icon{:href => ""}
                        %img{:src => "assets/img/pay-img4.png", :alt => ""}/
                    %a.payMethods__icon{:href => ""}
                        %img{:src => "assets/img/pay-img5.png", :alt => ""}/
                %br/
                %br/
                %br/
                %hr/
                %br/
                %br/
                %br/
                %h1 Plus
                %br/
                .plus
                    %i.plus__plus.icn-plus
                    %i.plus__minus.icn-minus
                %br/
                %br/
                %br/
                %hr/
                %br/
                %br/
                %br/
                %h1 Expand Item
                %br/
                .expandItem.expandItem-radius
                    %input.expandItem__btn{:type => "checkbox", :name=>"profile"}/
                    .expandHead.expandHead-upper.expandItem__head
                        .expandHead__plus.plus
                            %i.plus__plus.icn-plus
                            %i.plus__minus.icn-minus
                        .expandHead__text Футбол
                    .expandItem__body
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed temporibus aspernatur fugit a, velit ad fuga modi, quisquam beatae eveniet quos porro praesentium consequatur totam incidunt itaque et earum inventore?
                %br/
                %br/
                %br/
                %hr/
                %br/
                %br/
                %br/
                %h1 Rate
                %br/
                .rate.rate-default 1.52
                &nbsp;
                .rate.rate-success 1.52
                &nbsp;
                .rate.rate-danger 1.52
                &nbsp;
                .rate.rate-done 1.52
                &nbsp;
                %br/
                %br/
                .rate.rate-vip 
                    %span VIP
                &nbsp;
                %br/
                %br/
                %br/
                %hr/
                %br/
                %br/
                %br/
                %h1 Rate Result
                %br/
                .rateResult.rateResult-default
                    %i.icn-aim.rateResult__icon
                    .rateResult__info
                        Прогноз: Хозяин
                        .rateResult__rate Коэф. 1.52
                %br/
                .rateResult.rateResult-danger
                    %i.icn-aim.rateResult__icon
                    .rateResult__info
                        Прогноз: Хозяин
                        .rateResult__rate Прогноз не прошел, коэф. 1.52
                %br/
                .rateResult.rateResult-success
                    %i.icn-aim.rateResult__icon
                    .rateResult__info
                        Прогноз: Хозяин
                        .rateResult__rate Прогноз прошел, коэф. 1.52

                
                %br/
                %br/
                %br/
                %hr/
                %br/
                %br/
                %br/
                %h1 Versus
                %br/
                .versus
                    .versusImg{:style => "background-image: url('assets/pictures/vs-bg.png')"}
                        .versusImg__team
                            %img{:src => "assets/pictures/vs-team1.png", :alt => ""}/
                        .versusImg__vs VS
                        .versusImg__team
                            %img{:src => "assets/pictures/vs-team2.png", :alt => ""}/

                    .versusLabel
                        .versusLabel__teams
                            Крузейро - Бока Х
                        .versusLabel__date
                            Начало: 08.10 в 00:00
                %br/
                %br/
                %br/
                %hr/
                %br/
                %br/
                %br/
                %h1 Paid Forecasts
                %br/
                %div{:style => "background: #000; padding: 10px"}
                    .paidForecasts
                        .h1 Експресс
                        %table
                            %thead
                                %tr
                                    %th 1 прогноз
                                    %th 5 прогнозов
                                    %th 10 прогнозов
                            %tbody
                                %tr
                                    %td 
                                        %strong 2 999 ₽
                                    %td 
                                        %strong 9 999 ₽
                                    %td 
                                        .profitable
                                            %span ВЫГОДНО
                                        %strong 19 999 ₽
                        %a.btns.btns-primary.btns-block{:href => ""} Купить подписку
                %br/
                %br/
                %br/
                %hr/
                %br/
                %br/
                %br/

                
                


        //=include components/_footer.haml
