dist/paid.html
<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta content='yes' name='apple-mobile-web-app-capable'>
  <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
  <title>Timbet</title>
  <link href='assets/ico/fav/favicon-16x16.png' rel='icon' sizes='16x16' type='image/png'>
  <link href='assets/ico/fav/favicon-32x32.png' rel='icon' sizes='32x32' type='image/png'>
  <link href='assets/ico/fav/favicon-96x96.png' rel='icon' sizes='96x96' type='image/png'>
  <link href='assets/ico/ati/ati-57x57.png' rel='apple-touch-icon' sizes='57x57'>
  <link href='assets/ico/ati/ati-60x60.png' rel='apple-touch-icon' sizes='60x60'>
  <link href='assets/ico/ati/ati-72x72.png' rel='apple-touch-icon' sizes='72x72'>
  <link href='assets/ico/ati/ati-76x76.png' rel='apple-touch-icon' sizes='76x76'>
  <link href='assets/ico/ati/ati-114x114.png' rel='apple-touch-icon' sizes='114x114'>
  <link href='assets/ico/ati/ati-120x120.png' rel='apple-touch-icon' sizes='120x120'>
  <link href='assets/ico/ati/ati-144x144.png' rel='apple-touch-icon' sizes='144x144'>
  <link href='assets/ico/ati/ati-152x152.png' rel='apple-touch-icon' sizes='152x152'>
  <link href='assets/css/app.min.css' rel='stylesheet' type='text/css'>
  <script src='assets/js/libs.min.js' type='text/javascript'></script>
  <script src='assets/js/app.min.js' type='text/javascript'></script>
</head>

<body>
  <header class='header'>
    <div class='wrapper header__wrap'>
      <a class='logo' href=''>
        <img alt='logo' class='logo__img' src='assets/img/logo.svg'>
      </a>
      <div class='socialIcons'>
        <a class='socialIcons__icon' href=''>
          <i class='icon-instagram-28x28 icon-instagram-28x28-size'></i>
        </a>
        <a class='socialIcons__icon' href=''>
          <i class='icon-vk-28x28 icon-vk-28x28-size'></i>
        </a>
        <a class='socialIcons__icon' href=''>
          <i class='icon-telegram-28x28 icon-telegram-28x28-size'></i>
        </a>
      </div>
    </div>
  </header>
  <div class='navigation'>
    <div class='wrapper'>
      <nav class='nav'>
        <a class='navItem active nav__item' href=''>
          <i class='icn-free navItem__icon'></i>
          Бесплатные
        </a>
        <a class='navItem nav__item' href=''>
          <i class='icn-paid navItem__icon'></i>
          Платные
        </a>
        <a class='navItem nav__item' href=''>
          <i class='icn-info navItem__icon'></i>
          Информация
        </a>
        <a class='navItem nav__item' href=''>
          <i class='icn-user navItem__icon'></i>
          Регистрация
        </a>
      </nav>
    </div>
  </div>
  <div class='wrap'>
    <div class='darkBg home'>
      <div class='paidForecastsIntro'>
        <div class='paidForecastsInfo'>
          <div class='wrapper'>
            <i class='icon-like icon-like-size'></i>
            <div class='title'>
              Прогнозы
              <br>
              на спорт
            </div>
            <p>
              Высокая проходимость
              <br>
              Профессиональная аналитика
              <br>
              Многолетний опыт в сфере ставок
            </p>
          </div>
        </div>
        <div class='wrapper'>
          <div class='h3'>
            Платные прогнозы от
            <a href=''>TIMBET</a>
          </div>
          <p>
            <strong>Timbet</strong>
            предлагает полное сопровождение в сфере ставок – от предоставления прогнозов с проходимостью от 82% до ссылки на БК с высокими коэффициентами
          </p>
        </div>
      </div>
      <div class='wrapper'>
        <div class='paidForecasts'>
          <div class='h1'>Футбол</div>
          <table>
            <thead>
              <tr>
                <th>1 прогноз</th>
                <th>5 прогнозов</th>
                <th>10 прогнозов</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <strong>2 999 ₽</strong>
                </td>
                <td>
                  <strong>9 999 ₽</strong>
                </td>
                <td>
                  <div class='profitable'>
                    <span>ВЫГОДНО</span>
                  </div>
                  <strong>19 999 ₽</strong>
                </td>
              </tr>
            </tbody>
          </table>
          <a class='btns btns-primary btns-block' href=''>Купить подписку</a>
        </div>
        <div class='paidForecasts'>
          <div class='h1'>Баскетбол</div>
          <table>
            <thead>
              <tr>
                <th>1 прогноз</th>
                <th>5 прогнозов</th>
                <th>10 прогнозов</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <strong>2 999 ₽</strong>
                </td>
                <td>
                  <strong>9 999 ₽</strong>
                </td>
                <td>
                  <div class='profitable'>
                    <span>ВЫГОДНО</span>
                  </div>
                  <strong>19 999 ₽</strong>
                </td>
              </tr>
            </tbody>
          </table>
          <a class='btns btns-primary btns-block' href=''>Купить подписку</a>
        </div>
        <div class='paidForecasts'>
          <div class='h1'>Хоккей</div>
          <table>
            <thead>
              <tr>
                <th>1 прогноз</th>
                <th>5 прогнозов</th>
                <th>10 прогнозов</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <strong>2 999 ₽</strong>
                </td>
                <td>
                  <strong>9 999 ₽</strong>
                </td>
                <td>
                  <div class='profitable'>
                    <span>ВЫГОДНО</span>
                  </div>
                  <strong>19 999 ₽</strong>
                </td>
              </tr>
            </tbody>
          </table>
          <a class='btns btns-primary btns-block' href=''>Купить подписку</a>
        </div>
        <div class='paidForecasts'>
          <div class='h1'>Теннис</div>
          <table>
            <thead>
              <tr>
                <th>1 прогноз</th>
                <th>5 прогнозов</th>
                <th>10 прогнозов</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <strong>2 999 ₽</strong>
                </td>
                <td>
                  <strong>9 999 ₽</strong>
                </td>
                <td>
                  <div class='profitable'>
                    <span>ВЫГОДНО</span>
                  </div>
                  <strong>19 999 ₽</strong>
                </td>
              </tr>
            </tbody>
          </table>
          <a class='btns btns-primary btns-block' href=''>Купить подписку</a>
        </div>
        <div class='paidForecasts'>
          <div class='h1'>Ординар</div>
          <table>
            <thead>
              <tr>
                <th>1 прогноз</th>
                <th>5 прогнозов</th>
                <th>10 прогнозов</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <strong>2 999 ₽</strong>
                </td>
                <td>
                  <strong>9 999 ₽</strong>
                </td>
                <td>
                  <div class='profitable'>
                    <span>ВЫГОДНО</span>
                  </div>
                  <strong>19 999 ₽</strong>
                </td>
              </tr>
            </tbody>
          </table>
          <a class='btns btns-primary btns-block' href=''>Купить подписку</a>
        </div>
        <div class='paidForecasts'>
          <div class='h1'>Экспресс</div>
          <table>
            <thead>
              <tr>
                <th>1 прогноз</th>
                <th>5 прогнозов</th>
                <th>10 прогнозов</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <strong>2 999 ₽</strong>
                </td>
                <td>
                  <strong>9 999 ₽</strong>
                </td>
                <td>
                  <div class='profitable'>
                    <span>ВЫГОДНО</span>
                  </div>
                  <strong>19 999 ₽</strong>
                </td>
              </tr>
            </tbody>
          </table>
          <a class='btns btns-primary btns-block' href=''>Купить подписку</a>
        </div>
        <div class='headList'>
          <div class='headList__title'>
            ПОСЛЕДНИЕ ПРОШЕДШИЕ ПЛАТНЫЕ ПРОГНОЗЫ
            <strong>TIMBET</strong>
          </div>
        </div>
        <div class='accordion'>
          <div class='accordionItem'>
            <input class='accordionBtn' name='rate' type='radio'>
            <div class='accordionLabel'>
              <div class='team'>
                <div class='item'>
                  <img alt='' src='assets/pictures/vs-team1.png'>
                  <span class='name'>Зенит</span>
                </div>
                <div class='item right'>
                  <span class='name'>
                    Славия Прага
                  </span>
                  <img alt='' src='assets/pictures/vs-team2.png'>
                </div>
              </div>
              <span class='rate rate-done'>1.52</span>
            </div>
          </div>
          <div class='accordionItem'>
            <input class='accordionBtn' name='rate' type='radio'>
            <div class='accordionLabel'>
              <div class='team'>
                <div class='item'>
                  <img alt='' src='assets/pictures/vs-team1.png'>
                  <span class='name'>Зенит</span>
                </div>
                <div class='item right'>
                  <span class='name'>
                    Славия Прага
                  </span>
                  <img alt='' src='assets/pictures/vs-team2.png'>
                </div>
              </div>
              <span class='rate rate-done'>1.52</span>
            </div>
          </div>
          <div class='accordionItem'>
            <input class='accordionBtn' name='rate' type='radio'>
            <div class='accordionLabel'>
              <div class='team'>
                <div class='item'>
                  <img alt='' src='assets/pictures/vs-team1.png'>
                  <span class='name'>Зенит</span>
                </div>
                <div class='item right'>
                  <span class='name'>
                    Славия Прага
                  </span>
                  <img alt='' src='assets/pictures/vs-team2.png'>
                </div>
              </div>
              <span class='rate rate-done'>1.52</span>
            </div>
          </div>
          <div class='accordionItem'>
            <input class='accordionBtn' name='rate' type='radio'>
            <div class='accordionLabel'>
              <div class='team'>
                <div class='item'>
                  <img alt='' src='assets/pictures/vs-team1.png'>
                  <span class='name'>Зенит</span>
                </div>
                <div class='item right'>
                  <span class='name'>
                    Славия Прага
                  </span>
                  <img alt='' src='assets/pictures/vs-team2.png'>
                </div>
              </div>
              <span class='rate rate-done'>1.52</span>
            </div>
          </div>
          <div class='accordionItem'>
            <input class='accordionBtn' name='rate' type='radio'>
            <div class='accordionLabel'>
              <div class='team'>
                <div class='item'>
                  <img alt='' src='assets/pictures/vs-team1.png'>
                  <span class='name'>Зенит</span>
                </div>
                <div class='item right'>
                  <span class='name'>
                    Славия Прага
                  </span>
                  <img alt='' src='assets/pictures/vs-team2.png'>
                </div>
              </div>
              <span class='rate rate-done'>1.52</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='wrapper'>
      <div class='pageHeader'>
        <h2>Отзывы наших клиентов</h2>
      </div>
      <div class='feedback' id='feedback'>
        <div class='item' v-for='(img, i) in images' v-if='images.length &gt; 0'>
          <img :src='img.url' @click='open(i)' alt=''>
        </div>
        <div class='item' v-if='images.length &lt;= 0'>
          <img alt='' src='assets/pictures/rect.svg'>
        </div>
        <div :style='{opacity:1}' class='modalFeed' v-if='modalShow'>
          <div class='modalFeed__body'>
            <a @click='hidefeed()' class='modalFeed__close'>
              <i class='icn-close'></i>
            </a>
            <img :src='img' alt=''>
            <div class='control'>
              <a @click='prev()' class='btns btns-primary'>
                <i class='icn-angle-left'></i>
              </a>
              <span class='date'>{{date}}</span>
              <a @click='next()' class='btns btns-primary'>
                <i class='icn-angle-right'></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class='pageContent'>
        <p>
          Задача Timbet – составление максимально точных и результативных каперских прогнозов на спорт.
        </p>
        <p>
          Перед тем, как предложить вам хороший прогноз, мы проводим глубокую аналитику, чтобы учесть форму команд и спортсменов, оценить их слабые и сильные стороны, психологическое состояние, не упустить из виду текущие травмы и другие факторы, которые могут повлиять на результат.
        </p>
        <p>
          Мы предлагаем пакеты по 1, 5 или 10 прогнозов на футбол, баскетбол, теннис и хоккей. Платные прогнозы публикуются в Личном кабинете после внесения оплаты.
        </p>
        <p>
          За несколько лет плодотворной работы в сфере беттинга наши каперы накопили большой опыт, помогающий им правильно оценивать шансы и давать профессиональные прогнозы на спорт с высокой проходимостью.
        </p>
        <p>
          Чтобы отбросить сомнения, посмотрите отзывы в группе Вконтакте или на канале в Telegram.
        </p>
        <p>
          Для получения профессиональной консультации и компетентных советов пишите Алисе или Маше Вконтакте.
        </p>
      </div>
      <div class='pageHeader'>
        <h2>Сравнение прогнозов TIMBET</h2>
      </div>
      <table cellspacing='0' class='comparison'>
        <thead>
          <tr>
            <th>Критерий</th>
            <th>
              <strong>Бесплатные</strong>
            </th>
            <th>
              <strong>Платные</strong>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Количество в день</td>
            <td>20-40</td>
            <td>1-2</td>
          </tr>
          <tr>
            <td>Вероятность выигрыша</td>
            <td>средняя</td>
            <td>
              <strong>максимум</strong>
            </td>
          </tr>
          <tr>
            <td>Средний коэфициент</td>
            <td>1.6-1.7</td>
            <td>
              <strong>1.9-2.1</strong>
            </td>
          </tr>
          <tr>
            <td>Средняя проходимость</td>
            <td>54-72%</td>
            <td>
              <strong>81-90%</strong>
            </td>
          </tr>
          <tr>
            <td>Аналитика</td>
            <td>средняя</td>
            <td>
              <strong>профи</strong>
            </td>
          </tr>
          <tr>
            <td>Консультация экспертов</td>
            <td>есть</td>
            <td>есть</td>
          </tr>
        </tbody>
      </table>
      <a class='btns btns-primary btns-block comparisonBtn' href=''>Получить платный прогноз</a>
    </div>
  </div>
  <div :style='{opacity:1}' class='modalCupon' id='timeoutModal' v-if='show'>
    <div class='modalCupon__body'>
      <a @click='hideModal()' class='modalCupon__close'>
        <i class='icn-close'></i>
      </a>
      <div class='modalCupon__title ext'>Экспресс с кеф 5 на хоккей!</div>
      <p>
        Вчера прошел экспресс с кэфом 5 на хоккей.
      </p>
      <p>
        Сегодня наши эксперты уже приготовили для Вас надежный и точный экспресс с кеф 5 также на хоккей!
      </p>
      <p>
        Оформляйте его прямо сейчас и получайте на свой e-mail. Будем выигрывать крупно!
      </p>
      <a class='btns btns-primary btns-block' href=''>Хочу экспресс!</a>
    </div>
  </div>
  <footer class='footer'>
    <div class='wrapper'>
      <div class='payMethods footer__payMethods'>
        <span class='payMethods__icon'>
          <i class='icon-webmoney icon-webmoney-size'></i>
        </span>
        <span class='payMethods__icon'>
          <i class='icon-visa icon-visa-size'></i>
        </span>
        <span class='payMethods__icon'>
          <i class='icon-master icon-master-size'></i>
        </span>
        <span class='payMethods__icon'>
          <i class='icon-maestro icon-maestro-size'></i>
        </span>
        <span class='payMethods__icon'>
          <i class='icon-yandex icon-yandex-size'></i>
        </span>
        <span class='payMethods__icon'>
          <i class='icon-qiwi icon-qiwi-size'></i>
        </span>
      </div>
      <div class='footer__midBlock'>
        <!-- .socialIcons.socialIcons-sm -->
        <!-- %a.socialIcons__icon{:href => ""} -->
        <!-- %i.icon-whatsApp-24x24.icon-whatsApp-24x24-size -->
        <a class='logo logo-sm' href=''>
          <img alt='logo' class='logo__img' src='assets/img/logo.svg'>
        </a>
        <div class='socialIcons socialIcons-sm'>
          <a class='socialIcons__icon' href=''>
            <i class='icon-vk-24x24 icon-vk-24x24-size'></i>
          </a>
          <a class='socialIcons__icon' href=''>
            <i class='icon-instagram-24x24 icon-instagram-24x24-size'></i>
          </a>
          <a class='socialIcons__icon' href=''>
            <i class='icon-telegram-24x24 icon-telegram-24x24-size'></i>
          </a>
        </div>
      </div>
      <ul class='footer__menu'>
        <li>
          <a href=''>Личный кабинет</a>
        </li>
        <li>
          <a href=''>Регистрация</a>
        </li>
        <li>
          <a href=''>Контакты</a>
        </li>
        <li>
          <a href=''>О нас</a>
        </li>
        <li>
          <a href=''>Оферта</a>
        </li>
        <li>
          <a href=''>Политика конфиденциальности</a>
        </li>
      </ul>
      <!-- %a.footer__link{:href => ""} Полная версия сайта -->
    </div>
  </footer>
</body>

</html>

src/paid.haml
!!!5
%html
    //=include components/_head.haml
    %body
        //=include components/_header.haml
        //=include components/_nav.haml
        .wrap
            .darkBg.home
                .paidForecastsIntro
                    .paidForecastsInfo
                        .wrapper
                            %i.icon-like.icon-like-size 
                            .title
                                Прогнозы 
                                %br/
                                на спорт
                            %p
                                Высокая проходимость
                                %br/
                                Профессиональная аналитика
                                %br/
                                Многолетний опыт в сфере ставок
                    .wrapper
                        .h3
                            Платные прогнозы от 
                            %a{:href => ""} TIMBET

                        %p
                            %strong Timbet 
                            предлагает полное сопровождение в сфере ставок – от предоставления прогнозов с проходимостью от 82% до ссылки на БК с высокими коэффициентами
                .wrapper
                    - ['Футбол', 'Баскетбол', 'Хоккей', 'Теннис', 'Ординар', 'Экспресс'].each do |i|
                        .paidForecasts
                            .h1 #{i}
                            %table
                                %thead
                                    %tr
                                        %th 1 прогноз
                                        %th 5 прогнозов
                                        %th 10 прогнозов
                                %tbody
                                    %tr
                                        %td 
                                            %strong 2 999 ₽
                                        %td 
                                            %strong 9 999 ₽
                                        %td 
                                            .profitable
                                                %span ВЫГОДНО
                                            %strong 19 999 ₽
                            %a.btns.btns-primary.btns-block{:href => ""} Купить подписку
                    
                    .headList
                        .headList__title
                            ПОСЛЕДНИЕ ПРОШЕДШИЕ ПЛАТНЫЕ ПРОГНОЗЫ 
                            %strong TIMBET
                    .accordion
                        - (1..5).each do |i|        
                            .accordionItem
                                %input.accordionBtn{:type => "radio", :name => "rate"}/
                                .accordionLabel
                                    .team
                                        .item
                                            %img{:src => "assets/pictures/vs-team1.png", :alt => ""}/
                                            %span.name Зенит
                                        .item.right
                                            %span.name
                                                Славия Прага
                                            %img{:src => "assets/pictures/vs-team2.png", :alt => ""}/
                                    %span.rate.rate-done 1.52
                                
                                
                                
                
            .wrapper
                .pageHeader
                    %h2 Отзывы наших клиентов
                .feedback#feedback
                    .item{"v-if" => "images.length > 0", "v-for" => "(img, i) in images"}
                        %img{"@click" => "open(i)", ":src" => "img.url", :alt => ""}/
                    .item{"v-if" => "images.length <= 0"}
                        %img{:src => "assets/pictures/rect.svg", :alt => ""}/
                    
                    .modalFeed{'v-if' => "modalShow", ":style" => "{opacity:1}"}
                        .modalFeed__body
                            %a.modalFeed__close{"@click" => "hidefeed()"}
                                %i.icn-close
                            %img{':src' => "img", :alt => ""}/
                            .control
                                %a.btns.btns-primary{"@click" => "prev()"} 
                                    %i.icn-angle-left
                                %span.date {{date}}
                                %a.btns.btns-primary{"@click" => "next()"} 
                                    %i.icn-angle-right
                .pageContent
                    %p
                        Задача Timbet – составление максимально точных и результативных каперских прогнозов на спорт.

                    %p
                        Перед тем, как предложить вам хороший прогноз, мы проводим глубокую аналитику, чтобы учесть форму команд и спортсменов, оценить их слабые и сильные стороны, психологическое состояние, не упустить из виду текущие травмы и другие факторы, которые могут повлиять на результат.

                    %p
                        Мы предлагаем пакеты по 1, 5 или 10 прогнозов на футбол, баскетбол, теннис и хоккей. Платные прогнозы публикуются в Личном кабинете после внесения оплаты.

                    %p
                        За несколько лет плодотворной работы в сфере беттинга наши каперы накопили большой опыт, помогающий им правильно оценивать шансы и давать профессиональные прогнозы на спорт с высокой проходимостью.

                    %p
                        Чтобы отбросить сомнения, посмотрите отзывы в группе Вконтакте или на канале в Telegram.

                    %p
                        Для получения профессиональной консультации и компетентных советов пишите Алисе или Маше Вконтакте.
                .pageHeader
                    %h2 Сравнение прогнозов TIMBET
                %table.comparison{:cellspacing => "0"}
                    %thead
                        %tr
                            %th Критерий
                            %th 
                                %strong Бесплатные
                            %th 
                                %strong Платные
                    %tbody
                        %tr
                            %td Количество в день
                            %td 20-40
                            %td 1-2
                        %tr
                            %td Вероятность выигрыша 
                            %td средняя
                            %td
                                %strong максимум
                        %tr
                            %td Средний коэфициент
                            %td 1.6-1.7
                            %td
                                %strong 1.9-2.1
                        %tr
                            %td Средняя проходимость
                            %td 54-72%
                            %td
                                %strong 81-90%
                        %tr
                            %td Аналитика
                            %td средняя
                            %td
                                %strong профи
                        %tr
                            %td Консультация экспертов
                            %td есть
                            %td есть
                %a.btns.btns-primary.btns-block.comparisonBtn{:href => ""} Получить платный прогноз
        //=include components/_footer.haml
