src/policy.haml
!!!5
%html
    //=include components/_head.haml
    %body
        //=include components/_header.haml
        //=include components/_nav.haml
        .wrap
            .wrapper
                .pageHeader
                    %h2 Политика конфиденциальности
                .pageContent
                    %p
                        Регистрируя аккаунт, посетитель сайта становится зарегистрированным пользователем проекта Timbet (далее - Пользователь). Для Пользователя создается аккаунт с логином и паролем.

                    %p
                        Timbet собирает, обрабатывает и использует электронные адреса в целях:
                        %br/
                        1) Установления с Пользователем обратной связи путем направления E-mail уведомлений, касающихся использования сайта, оказания услуг, обработки запросов и заявок от Пользователя.
                        %br/
                        2) Предоставления Пользователю эффективной клиентской и технической поддержки при возникновении проблем, связанных с использованием сайта
                        %br/
                        3) Осуществления новостной рассылки с согласия Пользователя.

                    %p
                        Новостная рассылка включает в себя текущие предложения, новости и информацию о наших продуктах. Timbet постоянно совершенствует работу сервиса с помощью анализа:
                        %br/
                        %span открываемости отправленных писем,
                        %br/
                        %span степени кликабельности предоставленных ссылок,
                        %br/
                        %span качества, частоты, количества и тематики полученных ответов и новых обращений.

                    %p
                        Пользователь может в любое время отписаться от E-mail рассылки в разделе "Настройки" в Личном кабинете, а также нажать на кнопку «отписаться от рассылки» в конце письма или написать на электронную почту info@timbet.ru.




        //=include components/_footer.haml

dist/policy.html
<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta content='yes' name='apple-mobile-web-app-capable'>
  <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
  <title>Timbet</title>
  <link href='assets/ico/fav/favicon-16x16.png' rel='icon' sizes='16x16' type='image/png'>
  <link href='assets/ico/fav/favicon-32x32.png' rel='icon' sizes='32x32' type='image/png'>
  <link href='assets/ico/fav/favicon-96x96.png' rel='icon' sizes='96x96' type='image/png'>
  <link href='assets/ico/ati/ati-57x57.png' rel='apple-touch-icon' sizes='57x57'>
  <link href='assets/ico/ati/ati-60x60.png' rel='apple-touch-icon' sizes='60x60'>
  <link href='assets/ico/ati/ati-72x72.png' rel='apple-touch-icon' sizes='72x72'>
  <link href='assets/ico/ati/ati-76x76.png' rel='apple-touch-icon' sizes='76x76'>
  <link href='assets/ico/ati/ati-114x114.png' rel='apple-touch-icon' sizes='114x114'>
  <link href='assets/ico/ati/ati-120x120.png' rel='apple-touch-icon' sizes='120x120'>
  <link href='assets/ico/ati/ati-144x144.png' rel='apple-touch-icon' sizes='144x144'>
  <link href='assets/ico/ati/ati-152x152.png' rel='apple-touch-icon' sizes='152x152'>
  <link href='assets/css/app.min.css' rel='stylesheet' type='text/css'>
  <script src='assets/js/libs.min.js' type='text/javascript'></script>
  <script src='assets/js/app.min.js' type='text/javascript'></script>
</head>

<body>
  <header class='header'>
    <div class='wrapper header__wrap'>
      <a class='logo' href=''>
        <img alt='logo' class='logo__img' src='assets/img/logo.svg'>
      </a>
      <div class='socialIcons'>
        <a class='socialIcons__icon' href=''>
          <i class='icon-instagram-28x28 icon-instagram-28x28-size'></i>
        </a>
        <a class='socialIcons__icon' href=''>
          <i class='icon-vk-28x28 icon-vk-28x28-size'></i>
        </a>
        <a class='socialIcons__icon' href=''>
          <i class='icon-telegram-28x28 icon-telegram-28x28-size'></i>
        </a>
      </div>
    </div>
  </header>
  <div class='navigation'>
    <div class='wrapper'>
      <nav class='nav'>
        <a class='navItem active nav__item' href=''>
          <i class='icn-free navItem__icon'></i>
          Бесплатные
        </a>
        <a class='navItem nav__item' href=''>
          <i class='icn-paid navItem__icon'></i>
          Платные
        </a>
        <a class='navItem nav__item' href=''>
          <i class='icn-info navItem__icon'></i>
          Информация
        </a>
        <a class='navItem nav__item' href=''>
          <i class='icn-user navItem__icon'></i>
          Регистрация
        </a>
      </nav>
    </div>
  </div>
  <div class='wrap'>
    <div class='wrapper'>
      <div class='pageHeader'>
        <h2>Политика конфиденциальности</h2>
      </div>
      <div class='pageContent'>
        <p>
          Регистрируя аккаунт, посетитель сайта становится зарегистрированным пользователем проекта Timbet (далее - Пользователь). Для Пользователя создается аккаунт с логином и паролем.
        </p>
        <p>
          Timbet собирает, обрабатывает и использует электронные адреса в целях:
          <br>
          1) Установления с Пользователем обратной связи путем направления E-mail уведомлений, касающихся использования сайта, оказания услуг, обработки запросов и заявок от Пользователя.
          <br>
          2) Предоставления Пользователю эффективной клиентской и технической поддержки при возникновении проблем, связанных с использованием сайта
          <br>
          3) Осуществления новостной рассылки с согласия Пользователя.
        </p>
        <p>
          Новостная рассылка включает в себя текущие предложения, новости и информацию о наших продуктах. Timbet постоянно совершенствует работу сервиса с помощью анализа:
          <br>
          <span>открываемости отправленных писем,</span>
          <br>
          <span>степени кликабельности предоставленных ссылок,</span>
          <br>
          <span>качества, частоты, количества и тематики полученных ответов и новых обращений.</span>
        </p>
        <p>
          Пользователь может в любое время отписаться от E-mail рассылки в разделе "Настройки" в Личном кабинете, а также нажать на кнопку «отписаться от рассылки» в конце письма или написать на электронную почту info@timbet.ru.
        </p>
      </div>
    </div>
  </div>
  <div :style='{opacity:1}' class='modalCupon' id='timeoutModal' v-if='show'>
    <div class='modalCupon__body'>
      <a @click='hideModal()' class='modalCupon__close'>
        <i class='icn-close'></i>
      </a>
      <div class='modalCupon__title ext'>Экспресс с кеф 5 на хоккей!</div>
      <p>
        Вчера прошел экспресс с кэфом 5 на хоккей.
      </p>
      <p>
        Сегодня наши эксперты уже приготовили для Вас надежный и точный экспресс с кеф 5 также на хоккей!
      </p>
      <p>
        Оформляйте его прямо сейчас и получайте на свой e-mail. Будем выигрывать крупно!
      </p>
      <a class='btns btns-primary btns-block' href=''>Хочу экспресс!</a>
    </div>
  </div>
  <footer class='footer'>
    <div class='wrapper'>
      <div class='payMethods footer__payMethods'>
        <span class='payMethods__icon'>
          <i class='icon-webmoney icon-webmoney-size'></i>
        </span>
        <span class='payMethods__icon'>
          <i class='icon-visa icon-visa-size'></i>
        </span>
        <span class='payMethods__icon'>
          <i class='icon-master icon-master-size'></i>
        </span>
        <span class='payMethods__icon'>
          <i class='icon-maestro icon-maestro-size'></i>
        </span>
        <span class='payMethods__icon'>
          <i class='icon-yandex icon-yandex-size'></i>
        </span>
        <span class='payMethods__icon'>
          <i class='icon-qiwi icon-qiwi-size'></i>
        </span>
      </div>
      <div class='footer__midBlock'>
        <!-- .socialIcons.socialIcons-sm -->
        <!-- %a.socialIcons__icon{:href => ""} -->
        <!-- %i.icon-whatsApp-24x24.icon-whatsApp-24x24-size -->
        <a class='logo logo-sm' href=''>
          <img alt='logo' class='logo__img' src='assets/img/logo.svg'>
        </a>
        <div class='socialIcons socialIcons-sm'>
          <a class='socialIcons__icon' href=''>
            <i class='icon-vk-24x24 icon-vk-24x24-size'></i>
          </a>
          <a class='socialIcons__icon' href=''>
            <i class='icon-instagram-24x24 icon-instagram-24x24-size'></i>
          </a>
          <a class='socialIcons__icon' href=''>
            <i class='icon-telegram-24x24 icon-telegram-24x24-size'></i>
          </a>
        </div>
      </div>
      <ul class='footer__menu'>
        <li>
          <a href=''>Личный кабинет</a>
        </li>
        <li>
          <a href=''>Регистрация</a>
        </li>
        <li>
          <a href=''>Контакты</a>
        </li>
        <li>
          <a href=''>О нас</a>
        </li>
        <li>
          <a href=''>Оферта</a>
        </li>
        <li>
          <a href=''>Политика конфиденциальности</a>
        </li>
      </ul>
      <!-- %a.footer__link{:href => ""} Полная версия сайта -->
    </div>
  </footer>
</body>

</html>
