src/profile-subscribe.haml
!!!5
%html
    //=include components/_head.haml
    %body
        //=include components/_header.haml
        //=include components/_nav.haml
        .wrap
            .greyBlock
                .wrapper
                    .currentUser
                        .currentUser__avatar
                            %i.icn-dummy
                        .currentUser__info
                            %span.currentUser__title Логин:
                            %span.currentUser__mail QwErTy12345@gmail.com
                            %button.exit.currentUser__btn{:href => ""} Выход
            .tabButtons#cuponModule
                .greyBlock
                    .wrapper
                        .buttonsMenu.tabButtons__menu
                            %a.buttonsMenu__btn.active{:href => ""} Подписки
                            %a.buttonsMenu__btn{:href => ""} Настройки
                .tabButtons__content.active
                    .wrapper
                        .expand
                            .expandItem.expandItem-radius.expand__item
                                %input.expandItem__btn{:type => "checkbox", :name=>"profile"}/
                                .expandHead.expandHead-upper.expandItem__head
                                    .expandHead__plus.plus
                                        %i.plus__plus.icn-plus
                                        %i.plus__minus.icn-minus
                                    .expandHead__text Футбол
                                .expandItem__body
                                    - (1..2).each do |i|
                                        .foreCastGroup.foreCastGroup-mode
                                            .foreCastGroup__league
                                                Название Лиги
                                            .foreCastGroup__date
                                                Начало: 08.10 в 00:00
                                            .foreCastGroup__content
                                                %ul.foreCastGroup__list
                                                    %li Крузейро - Бока Х
                                                .foreCastGroup__lock
                                                    %span П1
                                                    Коэф. 1.95
                                            .foreCastGroup__btns
                                                %a.btns.btns-primary{"@click" => "showCupon('assets/img/paid.png', 'http://localhost:3000/login.html')"} Купон
                                                %a.btns.btns-primary.btns-block{:href => ""} Сделать ставку
                            .expandItem.expandItem-radius.expand__item
                                %input.expandItem__btn{:type => "checkbox", :name=>"profile"}/
                                .expandHead.expandHead-upper.expandItem__head
                                    .expandHead__plus.plus
                                        %i.plus__plus.icn-plus
                                        %i.plus__minus.icn-minus
                                    .expandHead__text ЭКСПРЕСС
                                .expandItem__body
                                    - (1..7).each do |i|
                                        .foreCastGroup.foreCastGroup-bord
                                            .foreCastGroup__league
                                                Название Лиги
                                            .foreCastGroup__date
                                                Начало: 08.10 в 00:00
                                            .foreCastGroup__content.ext
                                                .foreCastGroup__teams
                                                    Крузейро - Бока Х
                                                .foreCastGroup__lock
                                                    %i.icn-lock
                                    .foreCastGroup__factor 
                                        Коэф. 
                                        %strong 1.95
                                    %a.btns.btns-primary.btns-block{:href => ""} Оплатить прогноз
                            .expandItem.expandItem-radius.expand__item
                                %input.expandItem__btn{:type => "checkbox", :name=>"profile"}/
                                .expandHead.expandHead-upper.expandItem__head
                                    .expandHead__plus.plus
                                        %i.plus__plus.icn-plus
                                        %i.plus__minus.icn-minus
                                    .expandHead__text ЭКСПРЕСС
                                .expandItem__body
                                    .foreCastGroup.foreCastGroup-bord
                                        .foreCastGroup__league
                                            Название Лиги
                                        .foreCastGroup__date
                                            Начало: 08.10 в 00:00
                                        .foreCastGroup__content.ext
                                            .foreCastGroup__teams
                                                Крузейро - Бока Х
                                            .foreCastGroup__lock
                                                %span.ext П1
                                    .foreCastGroup.foreCastGroup-bord
                                        .foreCastGroup__league
                                            Название Лиги
                                        .foreCastGroup__date
                                            Начало: 08.10 в 00:00
                                        .foreCastGroup__content.ext
                                            .foreCastGroup__teams
                                                Крузейро - Бока Х
                                            .foreCastGroup__lock
                                                %span.ext
                                                    ТБ (вкл. ОТ) (150.5) 
                                    .foreCastGroup__factor 
                                        Коэф. 
                                        %strong 1.95
                                    .foreCastGroup__btns
                                        %a.btns.btns-primary{"@click" => "showCupon('assets/img/paid@2x.png', 'http://localhost:3000/login.html')"} Купон
                                        %a.btns.btns-primary.btns-block{:href => ""} Сделать ставку
                            .expandItem.expandItem-radius.expand__item
                                %input.expandItem__btn{:type => "checkbox", :name=>"profile"}/
                                .expandHead.expandHead-upper.expandItem__head
                                    .expandHead__plus.plus
                                        %i.plus__plus.icn-plus
                                        %i.plus__minus.icn-minus
                                    .expandHead__text ЭКСПРЕСС
                                .expandItem__body
                                    .empty Пока прогнозов нет
                .tabButtons__content
                    .wrapper
                        .expand
                            .expandItem.expandItem-radius.expand__item
                                %input.expandItem__btn{:type => "radio", :name=>"profile"}/
                                .expandHead.expandHead-upper.expandItem__head
                                    .expandHead__plus.plus
                                        %i.plus__plus.icn-plus
                                        %i.plus__minus.icn-minus
                                    .expandHead__text E-mail - оповещения
                                .expandItem__body
                                    %form.formSettings{:action => ""}
                                        .checkList
                                            %label.check-case.checkList__item
                                                %input{:type => "checkbox", :name => ""}/
                                                %span.field-checkbox
                                                    %i.icn-checkbox
                                                .check-name Изменение пароля
                                            %label.check-case.checkList__item
                                                %input{:type => "checkbox", :name => ""}/
                                                %span.field-checkbox
                                                    %i.icn-checkbox
                                                .check-name Оплата подписки
                                            %label.check-case.checkList__item
                                                %input{:type => "checkbox", :name => ""}/
                                                %span.field-checkbox
                                                    %i.icn-checkbox
                                                .check-name Новый прогноз в подписке
                                            %label.check-case.checkList__item
                                                %input{:type => "checkbox", :name => ""}/
                                                %span.field-checkbox
                                                    %i.icn-checkbox
                                                .check-name Новостная рассылка 
                                        %input.btns.btns-primary.btns-block.formSettings__btn{:type => "submit", :value => "Сохранить"}       
                            .expandItem.expandItem-radius.expand__item
                                %input.expandItem__btn{:type => "radio", :name=>"profile"}/
                                .expandHead.expandHead-upper.expandItem__head
                                    .expandHead__plus.plus
                                        %i.plus__plus.icn-plus
                                        %i.plus__minus.icn-minus
                                    .expandHead__text Смена пароля
                                .expandItem__body
                                    %form.formSettings{:action => ""}
                                        .field-case
                                            %input.field{:type => "", :name => "", :placeholder => "Текущий пароль", :required => "true"}/
                                        .field-case
                                            %input.field{:type => "", :name => "", :placeholder => "Новый пароль", :required => "true"}/
                                        .field-case
                                            %input.field.error{:type => "", :name => "", :placeholder => "Подтвердите новый пароль", :required => "true"}/
                                            %label.error Не выбран способ оплаты
                                        %input.btns.btns-primary.btns-block.formSettings__btn{:type => "submit", :value => "Сохранить"}     
                .modalCupon{"v-if" => "show", ":style" => "{opacity:1}"}
                    .modalCupon__body
                        %a.modalCupon__close{"@click" => "hideCupon()"}
                            %i.icn-close
                        .modalCupon__title Купон
                        %img{':src' => "img", :alt => ""}/
                        %a.btns.btns-primary.btns-block{':href' => "href"} Сделать ставку                      
                        
        //=include components/_footer.haml
    

dist/profile-subscribe.html
<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta content='yes' name='apple-mobile-web-app-capable'>
  <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
  <title>Timbet</title>
  <link href='assets/ico/fav/favicon-16x16.png' rel='icon' sizes='16x16' type='image/png'>
  <link href='assets/ico/fav/favicon-32x32.png' rel='icon' sizes='32x32' type='image/png'>
  <link href='assets/ico/fav/favicon-96x96.png' rel='icon' sizes='96x96' type='image/png'>
  <link href='assets/ico/ati/ati-57x57.png' rel='apple-touch-icon' sizes='57x57'>
  <link href='assets/ico/ati/ati-60x60.png' rel='apple-touch-icon' sizes='60x60'>
  <link href='assets/ico/ati/ati-72x72.png' rel='apple-touch-icon' sizes='72x72'>
  <link href='assets/ico/ati/ati-76x76.png' rel='apple-touch-icon' sizes='76x76'>
  <link href='assets/ico/ati/ati-114x114.png' rel='apple-touch-icon' sizes='114x114'>
  <link href='assets/ico/ati/ati-120x120.png' rel='apple-touch-icon' sizes='120x120'>
  <link href='assets/ico/ati/ati-144x144.png' rel='apple-touch-icon' sizes='144x144'>
  <link href='assets/ico/ati/ati-152x152.png' rel='apple-touch-icon' sizes='152x152'>
  <link href='assets/css/app.min.css' rel='stylesheet' type='text/css'>
  <script src='assets/js/libs.min.js' type='text/javascript'></script>
  <script src='assets/js/app.min.js' type='text/javascript'></script>
</head>

<body>
  <header class='header'>
    <div class='wrapper header__wrap'>
      <a class='logo' href=''>
        <img alt='logo' class='logo__img' src='assets/img/logo.svg'>
      </a>
      <div class='socialIcons'>
        <a class='socialIcons__icon' href=''>
          <i class='icon-instagram-28x28 icon-instagram-28x28-size'></i>
        </a>
        <a class='socialIcons__icon' href=''>
          <i class='icon-vk-28x28 icon-vk-28x28-size'></i>
        </a>
        <a class='socialIcons__icon' href=''>
          <i class='icon-telegram-28x28 icon-telegram-28x28-size'></i>
        </a>
      </div>
    </div>
  </header>
  <div class='navigation'>
    <div class='wrapper'>
      <nav class='nav'>
        <a class='navItem active nav__item' href=''>
          <i class='icn-free navItem__icon'></i>
          Бесплатные
        </a>
        <a class='navItem nav__item' href=''>
          <i class='icn-paid navItem__icon'></i>
          Платные
        </a>
        <a class='navItem nav__item' href=''>
          <i class='icn-info navItem__icon'></i>
          Информация
        </a>
        <a class='navItem nav__item' href=''>
          <i class='icn-user navItem__icon'></i>
          Регистрация
        </a>
      </nav>
    </div>
  </div>
  <div class='wrap'>
    <div class='greyBlock'>
      <div class='wrapper'>
        <div class='currentUser'>
          <div class='currentUser__avatar'>
            <i class='icn-dummy'></i>
          </div>
          <div class='currentUser__info'>
            <span class='currentUser__title'>Логин:</span>
            <span class='currentUser__mail'>QwErTy12345@gmail.com</span>
            <button class='exit currentUser__btn' href=''>Выход</button>
          </div>
        </div>
      </div>
    </div>
    <div class='tabButtons' id='cuponModule'>
      <div class='greyBlock'>
        <div class='wrapper'>
          <div class='buttonsMenu tabButtons__menu'>
            <a class='buttonsMenu__btn active' href=''>Подписки</a>
            <a class='buttonsMenu__btn' href=''>Настройки</a>
          </div>
        </div>
      </div>
      <div class='tabButtons__content active'>
        <div class='wrapper'>
          <div class='expand'>
            <div class='expandItem expandItem-radius expand__item'>
              <input class='expandItem__btn' name='profile' type='checkbox'>
              <div class='expandHead expandHead-upper expandItem__head'>
                <div class='expandHead__plus plus'>
                  <i class='plus__plus icn-plus'></i>
                  <i class='plus__minus icn-minus'></i>
                </div>
                <div class='expandHead__text'>Футбол</div>
              </div>
              <div class='expandItem__body'>
                <div class='foreCastGroup foreCastGroup-mode'>
                  <div class='foreCastGroup__league'>
                    Название Лиги
                  </div>
                  <div class='foreCastGroup__date'>
                    Начало: 08.10 в 00:00
                  </div>
                  <div class='foreCastGroup__content'>
                    <ul class='foreCastGroup__list'>
                      <li>Крузейро - Бока Х</li>
                    </ul>
                    <div class='foreCastGroup__lock'>
                      <span>П1</span>
                      Коэф. 1.95
                    </div>
                  </div>
                  <div class='foreCastGroup__btns'>
                    <a @click='showCupon(&#39;assets/img/paid.png&#39;, &#39;http://localhost:3000/login.html&#39;)' class='btns btns-primary'>Купон</a>
                    <a class='btns btns-primary btns-block' href=''>Сделать ставку</a>
                  </div>
                </div>
                <div class='foreCastGroup foreCastGroup-mode'>
                  <div class='foreCastGroup__league'>
                    Название Лиги
                  </div>
                  <div class='foreCastGroup__date'>
                    Начало: 08.10 в 00:00
                  </div>
                  <div class='foreCastGroup__content'>
                    <ul class='foreCastGroup__list'>
                      <li>Крузейро - Бока Х</li>
                    </ul>
                    <div class='foreCastGroup__lock'>
                      <span>П1</span>
                      Коэф. 1.95
                    </div>
                  </div>
                  <div class='foreCastGroup__btns'>
                    <a @click='showCupon(&#39;assets/img/paid.png&#39;, &#39;http://localhost:3000/login.html&#39;)' class='btns btns-primary'>Купон</a>
                    <a class='btns btns-primary btns-block' href=''>Сделать ставку</a>
                  </div>
                </div>
              </div>
            </div>
            <div class='expandItem expandItem-radius expand__item'>
              <input class='expandItem__btn' name='profile' type='checkbox'>
              <div class='expandHead expandHead-upper expandItem__head'>
                <div class='expandHead__plus plus'>
                  <i class='plus__plus icn-plus'></i>
                  <i class='plus__minus icn-minus'></i>
                </div>
                <div class='expandHead__text'>ЭКСПРЕСС</div>
              </div>
              <div class='expandItem__body'>
                <div class='foreCastGroup foreCastGroup-bord'>
                  <div class='foreCastGroup__league'>
                    Название Лиги
                  </div>
                  <div class='foreCastGroup__date'>
                    Начало: 08.10 в 00:00
                  </div>
                  <div class='foreCastGroup__content ext'>
                    <div class='foreCastGroup__teams'>
                      Крузейро - Бока Х
                    </div>
                    <div class='foreCastGroup__lock'>
                      <i class='icn-lock'></i>
                    </div>
                  </div>
                </div>
                <div class='foreCastGroup foreCastGroup-bord'>
                  <div class='foreCastGroup__league'>
                    Название Лиги
                  </div>
                  <div class='foreCastGroup__date'>
                    Начало: 08.10 в 00:00
                  </div>
                  <div class='foreCastGroup__content ext'>
                    <div class='foreCastGroup__teams'>
                      Крузейро - Бока Х
                    </div>
                    <div class='foreCastGroup__lock'>
                      <i class='icn-lock'></i>
                    </div>
                  </div>
                </div>
                <div class='foreCastGroup foreCastGroup-bord'>
                  <div class='foreCastGroup__league'>
                    Название Лиги
                  </div>
                  <div class='foreCastGroup__date'>
                    Начало: 08.10 в 00:00
                  </div>
                  <div class='foreCastGroup__content ext'>
                    <div class='foreCastGroup__teams'>
                      Крузейро - Бока Х
                    </div>
                    <div class='foreCastGroup__lock'>
                      <i class='icn-lock'></i>
                    </div>
                  </div>
                </div>
                <div class='foreCastGroup foreCastGroup-bord'>
                  <div class='foreCastGroup__league'>
                    Название Лиги
                  </div>
                  <div class='foreCastGroup__date'>
                    Начало: 08.10 в 00:00
                  </div>
                  <div class='foreCastGroup__content ext'>
                    <div class='foreCastGroup__teams'>
                      Крузейро - Бока Х
                    </div>
                    <div class='foreCastGroup__lock'>
                      <i class='icn-lock'></i>
                    </div>
                  </div>
                </div>
                <div class='foreCastGroup foreCastGroup-bord'>
                  <div class='foreCastGroup__league'>
                    Название Лиги
                  </div>
                  <div class='foreCastGroup__date'>
                    Начало: 08.10 в 00:00
                  </div>
                  <div class='foreCastGroup__content ext'>
                    <div class='foreCastGroup__teams'>
                      Крузейро - Бока Х
                    </div>
                    <div class='foreCastGroup__lock'>
                      <i class='icn-lock'></i>
                    </div>
                  </div>
                </div>
                <div class='foreCastGroup foreCastGroup-bord'>
                  <div class='foreCastGroup__league'>
                    Название Лиги
                  </div>
                  <div class='foreCastGroup__date'>
                    Начало: 08.10 в 00:00
                  </div>
                  <div class='foreCastGroup__content ext'>
                    <div class='foreCastGroup__teams'>
                      Крузейро - Бока Х
                    </div>
                    <div class='foreCastGroup__lock'>
                      <i class='icn-lock'></i>
                    </div>
                  </div>
                </div>
                <div class='foreCastGroup foreCastGroup-bord'>
                  <div class='foreCastGroup__league'>
                    Название Лиги
                  </div>
                  <div class='foreCastGroup__date'>
                    Начало: 08.10 в 00:00
                  </div>
                  <div class='foreCastGroup__content ext'>
                    <div class='foreCastGroup__teams'>
                      Крузейро - Бока Х
                    </div>
                    <div class='foreCastGroup__lock'>
                      <i class='icn-lock'></i>
                    </div>
                  </div>
                </div>
                <div class='foreCastGroup__factor'>
                  Коэф.
                  <strong>1.95</strong>
                </div>
                <a class='btns btns-primary btns-block' href=''>Оплатить прогноз</a>
              </div>
            </div>
            <div class='expandItem expandItem-radius expand__item'>
              <input class='expandItem__btn' name='profile' type='checkbox'>
              <div class='expandHead expandHead-upper expandItem__head'>
                <div class='expandHead__plus plus'>
                  <i class='plus__plus icn-plus'></i>
                  <i class='plus__minus icn-minus'></i>
                </div>
                <div class='expandHead__text'>ЭКСПРЕСС</div>
              </div>
              <div class='expandItem__body'>
                <div class='foreCastGroup foreCastGroup-bord'>
                  <div class='foreCastGroup__league'>
                    Название Лиги
                  </div>
                  <div class='foreCastGroup__date'>
                    Начало: 08.10 в 00:00
                  </div>
                  <div class='foreCastGroup__content ext'>
                    <div class='foreCastGroup__teams'>
                      Крузейро - Бока Х
                    </div>
                    <div class='foreCastGroup__lock'>
                      <span class='ext'>П1</span>
                    </div>
                  </div>
                </div>
                <div class='foreCastGroup foreCastGroup-bord'>
                  <div class='foreCastGroup__league'>
                    Название Лиги
                  </div>
                  <div class='foreCastGroup__date'>
                    Начало: 08.10 в 00:00
                  </div>
                  <div class='foreCastGroup__content ext'>
                    <div class='foreCastGroup__teams'>
                      Крузейро - Бока Х
                    </div>
                    <div class='foreCastGroup__lock'>
                      <span class='ext'>
                        ТБ (вкл. ОТ) (150.5)
                      </span>
                    </div>
                  </div>
                </div>
                <div class='foreCastGroup__factor'>
                  Коэф.
                  <strong>1.95</strong>
                </div>
                <div class='foreCastGroup__btns'>
                  <a @click='showCupon(&#39;assets/img/paid@2x.png&#39;, &#39;http://localhost:3000/login.html&#39;)' class='btns btns-primary'>Купон</a>
                  <a class='btns btns-primary btns-block' href=''>Сделать ставку</a>
                </div>
              </div>
            </div>
            <div class='expandItem expandItem-radius expand__item'>
              <input class='expandItem__btn' name='profile' type='checkbox'>
              <div class='expandHead expandHead-upper expandItem__head'>
                <div class='expandHead__plus plus'>
                  <i class='plus__plus icn-plus'></i>
                  <i class='plus__minus icn-minus'></i>
                </div>
                <div class='expandHead__text'>ЭКСПРЕСС</div>
              </div>
              <div class='expandItem__body'>
                <div class='empty'>Пока прогнозов нет</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='tabButtons__content'>
        <div class='wrapper'>
          <div class='expand'>
            <div class='expandItem expandItem-radius expand__item'>
              <input class='expandItem__btn' name='profile' type='radio'>
              <div class='expandHead expandHead-upper expandItem__head'>
                <div class='expandHead__plus plus'>
                  <i class='plus__plus icn-plus'></i>
                  <i class='plus__minus icn-minus'></i>
                </div>
                <div class='expandHead__text'>E-mail - оповещения</div>
              </div>
              <div class='expandItem__body'>
                <form action='' class='formSettings'>
                  <div class='checkList'>
                    <label class='check-case checkList__item'>
                      <input name='' type='checkbox'>
                      <span class='field-checkbox'>
                        <i class='icn-checkbox'></i>
                      </span>
                      <div class='check-name'>Изменение пароля</div>
                    </label>
                    <label class='check-case checkList__item'>
                      <input name='' type='checkbox'>
                      <span class='field-checkbox'>
                        <i class='icn-checkbox'></i>
                      </span>
                      <div class='check-name'>Оплата подписки</div>
                    </label>
                    <label class='check-case checkList__item'>
                      <input name='' type='checkbox'>
                      <span class='field-checkbox'>
                        <i class='icn-checkbox'></i>
                      </span>
                      <div class='check-name'>Новый прогноз в подписке</div>
                    </label>
                    <label class='check-case checkList__item'>
                      <input name='' type='checkbox'>
                      <span class='field-checkbox'>
                        <i class='icn-checkbox'></i>
                      </span>
                      <div class='check-name'>Новостная рассылка</div>
                    </label>
                  </div>
                  <input class='btns btns-primary btns-block formSettings__btn' type='submit' value='Сохранить'>
                </form>
              </div>
            </div>
            <div class='expandItem expandItem-radius expand__item'>
              <input class='expandItem__btn' name='profile' type='radio'>
              <div class='expandHead expandHead-upper expandItem__head'>
                <div class='expandHead__plus plus'>
                  <i class='plus__plus icn-plus'></i>
                  <i class='plus__minus icn-minus'></i>
                </div>
                <div class='expandHead__text'>Смена пароля</div>
              </div>
              <div class='expandItem__body'>
                <form action='' class='formSettings'>
                  <div class='field-case'>
                    <input class='field' name='' placeholder='Текущий пароль' required='true' type=''>
                  </div>
                  <div class='field-case'>
                    <input class='field' name='' placeholder='Новый пароль' required='true' type=''>
                  </div>
                  <div class='field-case'>
                    <input class='field error' name='' placeholder='Подтвердите новый пароль' required='true' type=''>
                    <label class='error'>Не выбран способ оплаты</label>
                  </div>
                  <input class='btns btns-primary btns-block formSettings__btn' type='submit' value='Сохранить'>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div :style='{opacity:1}' class='modalCupon' v-if='show'>
        <div class='modalCupon__body'>
          <a @click='hideCupon()' class='modalCupon__close'>
            <i class='icn-close'></i>
          </a>
          <div class='modalCupon__title'>Купон</div>
          <img :src='img' alt=''>
          <a :href='href' class='btns btns-primary btns-block'>Сделать ставку</a>
        </div>
      </div>
    </div>
  </div>
  <div :style='{opacity:1}' class='modalCupon' id='timeoutModal' v-if='show'>
    <div class='modalCupon__body'>
      <a @click='hideModal()' class='modalCupon__close'>
        <i class='icn-close'></i>
      </a>
      <div class='modalCupon__title ext'>Экспресс с кеф 5 на хоккей!</div>
      <p>
        Вчера прошел экспресс с кэфом 5 на хоккей.
      </p>
      <p>
        Сегодня наши эксперты уже приготовили для Вас надежный и точный экспресс с кеф 5 также на хоккей!
      </p>
      <p>
        Оформляйте его прямо сейчас и получайте на свой e-mail. Будем выигрывать крупно!
      </p>
      <a class='btns btns-primary btns-block' href=''>Хочу экспресс!</a>
    </div>
  </div>
  <footer class='footer'>
    <div class='wrapper'>
      <div class='payMethods footer__payMethods'>
        <span class='payMethods__icon'>
          <i class='icon-webmoney icon-webmoney-size'></i>
        </span>
        <span class='payMethods__icon'>
          <i class='icon-visa icon-visa-size'></i>
        </span>
        <span class='payMethods__icon'>
          <i class='icon-master icon-master-size'></i>
        </span>
        <span class='payMethods__icon'>
          <i class='icon-maestro icon-maestro-size'></i>
        </span>
        <span class='payMethods__icon'>
          <i class='icon-yandex icon-yandex-size'></i>
        </span>
        <span class='payMethods__icon'>
          <i class='icon-qiwi icon-qiwi-size'></i>
        </span>
      </div>
      <div class='footer__midBlock'>
        <!-- .socialIcons.socialIcons-sm -->
        <!-- %a.socialIcons__icon{:href => ""} -->
        <!-- %i.icon-whatsApp-24x24.icon-whatsApp-24x24-size -->
        <a class='logo logo-sm' href=''>
          <img alt='logo' class='logo__img' src='assets/img/logo.svg'>
        </a>
        <div class='socialIcons socialIcons-sm'>
          <a class='socialIcons__icon' href=''>
            <i class='icon-vk-24x24 icon-vk-24x24-size'></i>
          </a>
          <a class='socialIcons__icon' href=''>
            <i class='icon-instagram-24x24 icon-instagram-24x24-size'></i>
          </a>
          <a class='socialIcons__icon' href=''>
            <i class='icon-telegram-24x24 icon-telegram-24x24-size'></i>
          </a>
        </div>
      </div>
      <ul class='footer__menu'>
        <li>
          <a href=''>Личный кабинет</a>
        </li>
        <li>
          <a href=''>Регистрация</a>
        </li>
        <li>
          <a href=''>Контакты</a>
        </li>
        <li>
          <a href=''>О нас</a>
        </li>
        <li>
          <a href=''>Оферта</a>
        </li>
        <li>
          <a href=''>Политика конфиденциальности</a>
        </li>
      </ul>
      <!-- %a.footer__link{:href => ""} Полная версия сайта -->
    </div>
  </footer>
</body>

</html>
